.portrait {
    height: 300px;
    /* border-width: 1px;
    border-style: solid;
    margin-right: 5px;
    border-color: white;
     */
    color: white;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#portraits {
    margin-top: 10%;
    margin-left: 15vw;
}

#wowImage {
    background-image: url(../img/WOW.png);
    cursor: pointer;
}

#craftImage {
    background-image: url(../img/MC.png);
    padding: 3%;
    cursor: pointer;
}

#paotImage {
    background-image: url(../img/global.png);
    padding: 3%;
    cursor: pointer;
    margin-left: 10vw;
}

.form-issue {
    margin-top: 15vh;
    width: 50vw;
    color: white;
}
