<script>
    $(document).ready(function () {
        $('#bugs').click(function () { return loadBugs(); });
    });
</script>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="./index.html"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li id="homeLink" class="active"><a class="nav-link" href="./index.html">Home</a></li>
            <li id="wow"><a class="nav-link" href="https://wow.nullservers.com">WoW</a></li>
            <li id="paot"><a class="nav-link" href="https://global.nullservers.com">Global</a></li>
            <li id="bugs"><a class="nav-link">Bugs</a></li>
            <li id="discordLink"><a class="nav-link" href="https://discord.gg/vStpCnQ" target="_blank">Discord</a></li>
            <li id="facebookLink"><a class="nav-link" href="https://www.facebook.com/nullwow.org/" target="_blank">Facebook WoW</a></li>
            <li id="facebookLinkGlobal"><a class="nav-link" href="https://www.facebook.com/GlobalNullServers/" target="_blank">Facebook Global</a></li>
        </ul>
    </div>
</nav>