<script>
    $(document).ready(function () {
        $('#issue-form').submit(manageIssue)
    });
</script>
<div class="container-fluid">
    
    <div class="form-issue mx-auto">
        <div class="form-title">
            <h4>Reportar Bugs</h4>
        </div>
        <form id="issue-form" onsubmit="return false;">
            <div class="form-row">
                <div class="col">
                    <label for="issue-title">Titulo</label>
                    <input type="text" class="form-control" id="issue-title" placeholder="Bug maldito">
                </div>
                <div class="col">
                    <label for="issue-project">Projeto</label>
                    <select class="form-control" id="issue-project">
                        <option value="0">Global</option>
                        <option value="1">Enforced</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="issue-description">Descrição</label>
                    <textarea class="form-control" id="issue-description" rows="10"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="issue-name">Nome</label>
                    <input type="text" class="form-control" id="issue-name" placeholder="Joao da Silva">
                </div>
                <div class="col">
                    <label for="issue-email">Email address</label>
                    <input type="email" class="form-control" id="issue-email" placeholder="name@example.com">
                </div>
            </div>
            <div class="form-row" style="padding: 5px;">
                <div class="col">
                    <button id="issue-submit" type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--  -- project -->