<script>
    $('#wowImage').click(function() {
        window.open('https://wow.nullservers.com', '_blank');
    })
    $('#paotImage').click(function(){
        window.open('https://global.nullservers.com', '_blank');
    })
</script>
<div class="container-fluid">
    <div class="row" id="portraits">
        <div class="col-md-4 portrait" id="wowImage"></div>
        <div class="col-md-3 portrait" id="paotImage"></div>
    </div>
</div>
